/* // 背 景 图 // */
body.administrator_profile-body, body.administrator_view_job-body,
body.employer_profile-body, body.employer_write_job_description-body,
body.employer_payment_history-body, body.employer_deposit-body,
body.employer_view_posted_job_details-body,
body.employer_applicants_list-body,
body.employer_check_applicant_qualification-body,
body.freelancer_profile-body,
body.freelancer_withdraw-body,
body.freelancer_remuneration_history-body,
body.freelancer_view_resume-body {
  background-size: cover;
  background: url('../images/background-transparent.jpg') no-repeat;
  width: 1900px;
}

/* // 标题颜色大小 // */
.administrator_profile-div h1, .administrator_view_job-body h1,
.employer_profile-div h1, .employer_write_job_description-div h1,
.employer_payment_history-body h1, .employer_deposit-body h1,
.employer_view_posted_job_details-body h1,
.employer_applicants_list-body h1,
.employer_check_applicant_qualification-body h1,
.freelancer_profile-body h1,
.freelancer_withdraw-body h1,
.freelancer_remuneration_history-body h1,
.freelancer_view_resume-body h1{
  margin: 1rem 0rem 1rem 0rem;
  color: white;
  font: 700 2rem "Montserrat", sans-serif;
  text-decoration: underline;
}

/* //文字颜色// */
.administrator_profile-div p, label.administrator_profile-form-label,
.administrator_view_job-body p,
.employer_profile-div p, label.employer_profile-form-label,
body.employer_write_job_description-div p,
label.employer_write_job_description-form-label,
.employer_deposit-body label,
.employer_view_posted_job_details-body p,
.employer_check_applicant_qualification-body p,
.freelancer_profile-body label, .freelancer_profile-body p,
.freelancer_withdraw-body label,
.freelancer_view_resume-body label {
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
}

/* //居中// */
.main-div, .administrator_profile-div,
.administrator_login-div, .employer_login-div, .freelancer_login-div,
.administrator_sign_up-div, .employer_sign_up-div, .freelancer_sign_up-div,
.employer_profile-div, .employer_write_job_description-div,
.employer_payment_history-div, .employer_deposit-div,
.employer_applicants_list-div, .employer_check_applicant_qualification-div,
.freelancer_profile-div, .freelancer_withdraw-div,
.freelancer_remuneration_history-div,
.freelancer_view_resume-div{
  height: 100%;
  width: 100%;
	text-align: center;
}

/* //按钮翻转// */
.administrator_profile-div button:hover,
.employer_profile-div button:hover,
.employer_write_job_description-div button:hover,
.employer_payment_history-body button:hover,
.employer_deposit-body button:hover,
.employer_view_posted_job_details-body button:hover,
.employer_check_applicant_qualification-body button:hover,
.freelancer_profile-body button:hover,
.freelancer_withdraw-body button:hover,
.freelancer_remuneration_history-body button:hover,
.freelancer_view_resume-body button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

body.main-body,
body.administrator_login-body, body.administrator_sign_up-body,
body.employer_login-body, body.employer_sign_up-body,
body.freelancer_login-body, body.freelancer_sign_up-body {
	background-size: cover;
  background: url('../images/main-background.jpg') no-repeat;
}

.main-div h1,
.administrator_login-div h1, .administrator_sign_up-div h1,
.employer_login-div h1, .employer_sign_up-div h1,
.freelancer_login-div h1, .freelancer_sign_up-div h1 {
  margin: 15rem 0rem 5rem 0rem;
  color: white;
  font: 700 3.5rem "Montserrat", sans-serif;
}

.administrator_login-form, .administrator_sign_up-form,
.employer_login-form, .employer_sign_up-form,
.freelancer_login-form, .freelancer_sign_up-form {
  border: 0.3rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 18rem;
  height: 2rem;
  opacity: 0.8;
}

.main-div button,
.administrator_login-div button, .administrator_sign_up-div button,
.employer_login-div button, .employer_sign_up-div button,
.freelancer_login-div button, .freelancer_sign_up-div button {
	margin: 1rem 3rem 1rem 3rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	border: 0.3rem solid #14bf98;
	background-color: #14bf98;
	color: white;
	font: 700 1.25rem "Montserrat", sans-serif;
  width: 20rem;
}

.main-div button:hover,
.administrator_login-div button:hover, .administrator_sign_up-div button:hover,
.employer_login-div button:hover, .employer_sign_up-div button:hover,
.freelancer_login-div button:hover, .freelancer_sign_up-div button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

.administrator_login-div form, .administrator_login-div p, .administrator_login-div a,
.administrator_sign_up-div form, .administrator_sign_up-div a,
.employer_login-div form, .employer_login-div p, .employer_login-div a,
.employer_sign_up-div form, .employer_sign_up-div a,
.freelancer_login-div form, .freelancer_login-div p, .freelancer_login-div a,
.freelancer_sign_up-div form, .freelancer_sign_up-div a {
  color: white;
  font: 700 1.5rem "Montserrat", sans-serif;
}

.employer_login-div p, .freelancer_login-div p, .administrator_login-div p {
  margin-top: 1rem;
}

table {
  color: white;
  margin: 0 auto;
  border-color: #14bf98;
  display: block;
  height: 700px;
  border-bottom: none;
  overflow-y: scroll;
}

th {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font: 700 1.25rem "Montserrat", sans-serif;
  border-top: none;
}

td {
  padding: 1rem 0.5rem 1rem 0.5rem;
  font: 700 1rem "Montserrat", sans-serif;
  border-width: 0.15rem;
  height: 3rem;
  border-color: #14bf98;
}

button.administrator_profile-top-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

button.administrator_profile-bottom-button {
	border: 0.3rem solid #14bf98;
	background-color: #14bf98;
	color: white;
	font: 700 1rem "Montserrat", sans-serif;
  width: 6rem;
  margin-top: 2rem;
}

.administrator_profile-form, .employer_profile-form, .freelancer_profile-form,
.employer_write_job_description-form {
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 15rem;
  height: 1.25rem;
  opacity: 0.8;
}

.administrator_profile-form:disabled,
.employer_profile-form:disabled,
.freelancer_profile-form:disabled,
body.employer_profile-body textarea:disabled {
  background-color: #dddddd;
}

.administrator_profile-div-left, .administrator_profile-div-middle,
.administrator_profile-div-right {
  padding: 0rem 3rem 0rem 0rem;
  float:left;
}

.administrator_profile-div-left {
  width: 25rem;
}

.administrator_profile-div-middle {
  width: 55rem;
}

.administrator_profile-div-right {
  width: 27rem;
}

body.administrator_view_job-body{
  text-align: center;
}

div.administrator_view_job-body {
  display: inline-block;
  text-align: left;
}

.administrator_view_job-body button{
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
  height: 2.5rem;
}

.administrator_view_job-body button:hover,
.employer_applicants_list-body button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #14bf98;
}
::-webkit-scrollbar-track {
  background: white;
}

button.employer_profile-top-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

button.employer_profile-right-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 5.5rem;
}

button.employer_profile-right-button-Application {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 7rem;
}

button.employer_profile-top-button-paymentHistory,
button.employer_profile-top-button-deposit {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 15.5rem;
}

button.employer_profile-top-button-deposit {
  margin-top: 1.5rem;
}

button.employer_profile-top-button-paymentHistory {
  margin-bottom: 1.5rem;
}

button.employer_profile-top-button-postNewJob {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 34.1rem;
}

 .employer_profile-div-left {
  width: 40rem;
  float: left;
  padding: 0rem 0rem 0rem 5rem;
 }

 .employer_profile-div-right {
   float:right;
   padding: 0rem 15rem 0rem 0rem;
   width: 52.5rem;
 }

 body.employer_profile-body textarea {
  width: 15rem;
  height: 10rem;
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
  background-color: white;
  color: #14bf98;
  font: 700 1rem "Montserrat", sans-serif;
  opacity: 0.8;
 }

 body.employer_write_job_description-body textarea {
  width: 20rem;
  height: 32.2rem;
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
  background-color: white;
  color: #14bf98;
  font: 700 1rem "Montserrat", sans-serif;
  opacity: 0.8;
 }

.employer_write_job_description-left, .employer_write_job_description-right {
  float: left;
}
.employer_write_job_description-left {
  padding-left: 39rem;
}
.employer_write_job_description-right {
  padding-left: 10rem;
}

body.employer_write_job_description-body button,
body.employer_view_posted_job_details-body button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

.employer_payment_history-body button, .employer_deposit-body button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
}

.employer_payment_history-body table {
  padding-left: 44rem;
  margin-right: 44rem;
}

.employer_deposit-form {
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 7.5rem;
  height: 1.25rem;
  opacity: 0.8;
}

 div.employer_view_posted_job_details-div p {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
 }

 body.employer_view_posted_job_details-body{
   text-align: center;
 }

 div.employer_view_posted_job_details-div {
   display: inline-block;
   text-align: left;
 }


 .employer_applicants_list-body button,
 .employer_check_applicant_qualification-body button {
   margin: 1rem 0.5rem 1rem 0.5rem;
   border: 0.3rem solid #14bf98;
   background-color: #14bf98;
   color: white;
   font: 700 1rem "Montserrat", sans-serif;
   width: 5rem;
   height: 2.2rem;
 }

 .employer_applicants_list-body table {
   margin-top: 2rem;
   width: 25rem;
   margin-right: 46rem;
 }

 .employer_check_applicant_qualification-div-left,
 .employer_check_applicant_qualification-div-middle,
 .employer_check_applicant_qualification-div-right {
   padding: 0rem 3rem 0rem 0rem;
   float:left;
 }

 .employer_check_applicant_qualification-div-left {
   width: 30rem;
 }

 .employer_check_applicant_qualification-div-middle {
   width: 30rem;
 }

 .employer_check_applicant_qualification-div-right {
   width: 30rem;
 }

 .employer_check_applicant_qualification-body h1 {
   padding: 2rem 3rem 2rem 3rem;
 }

 .employer_check_applicant_qualification-block {
   height: 20rem;
   width: 30rem;
   padding: 6rem 0rem 0rem 14rem;
 }

 .employer_check_applicant_qualification-block p {
   text-align: left;
   padding: 0.5rem 0rem 0rem 4rem;
 }

 .employer_check_applicant_qualification-select,
  .employer_check_applicant_qualification-option {
  width: 7.5rem;
  height: 2.5rem;
  font: 700 1rem "Montserrat", sans-serif;
  color: white;
  background-color: #14bf98;
  text-align: center;
  border: none;
}

.employer_check_applicant_qualification-body button {
  margin-top: 7rem;
  width: 6rem;
}

/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */

button.freelancer_profile-top-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 15.5rem;
}

button.freelancer_profile-bottom-button {
  margin: 1rem 0.7rem 1rem 0.7rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

.freelancer_profile-div-left, .freelancer_profile-div-right {
  padding: 0rem 3rem 0rem 0rem;
  float:left;
}

.freelancer_profile-div-left {
  width: 30rem;
  padding: 0rem 8rem 0rem 10rem;
}

.freelancer_profile-div-right {
  width: 55rem;
  padding: 0rem 10rem 0rem 0rem;
}

button.freelancer_profile-right-button {
  margin: 1rem 0.7rem 1rem 0.7rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 10rem;
}

button.freelancer_profile-top-button-browseJobs {
  margin: 1rem 0.7rem 1rem 0.7rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 45rem;
}

button.freelancer_withdraw-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
}

.freelancer_withdraw-form {
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 7.5rem;
  height: 1.25rem;
  opacity: 0.8;
}

.freelancer_remuneration_history-body table {
  padding-left: 44rem;
  margin-right: 44rem;
}

.freelancer_remuneration_history-body button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
}

.freelancer_view_resume-body button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
}

.freelancer_view_resume-form-content {
  overflow-y: scroll;
  height: 48rem;
  width: 30rem;
  padding-left: 44rem;
}

.freelancer_view_resume-body h2{
  margin: 1rem 0rem 1rem 0rem;
  color: white;
  font: 700 1.5rem "Montserrat", sans-serif;
  text-decoration: underline;
}

.freelancer_view_resume-form {
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 15rem;
  height: 1.25rem;
  opacity: 0.8;
}
