/* // 背 景 图 // */
body.administrator_profile-body, body.administrator_job-body, body.administrator_view_job-body,
body.admin_payment_history-body, body.employer_job-body,
body.employer_profile-body,
body.employer_write_job_description-body,
body.employer_payment_history-body, body.employer_deposit-body,
body.employer_view_posted_job_details-body,
body.employer_applicants_list-body,
body.employer_check_applicant_qualification-body,
body.freelancer_job-body,
body.freelancer_profile-body,
body.freelancer_withdraw-body,
body.freelancer_remuneration_history-body,
body.freelancer_view_resume-body,
body.freelancer_browse_jobs-body,
body.freelancer_browse_jobs_details-body,
body.freelancer_browse_applied_jobs_details-body {
    background-size: cover;
    background: url('../images/background-transparent.jpg') no-repeat center center fixed;
    width: 100%;
}

/* // 标题颜色大小 // */
.administrator_profile-div h1, .administrator_view_job-body h1,
.employer_profile-body h1, .employer_write_job_description-div h1,
.employer_payment_history-body h1, .employer_deposit-body h1, .admin_payment_history-body h1,
.employer_view_posted_job_details-body h1,
.employer_applicants_list-body h1,
.employer_check_applicant_qualification-body h1,
.freelancer_job-body h1,
.freelancer_profile-body h1,
.freelancer_withdraw-body h1,
.freelancer_remuneration_history-body h1,
.freelancer_view_resume-body h1,
.freelancer_browse_jobs-body h1,
.freelancer_browse_jobs_details-body h1,
.freelancer_browse_applied_jobs_details-body h1 {
    color: white;
    font: 700 2rem "Montserrat", sans-serif;
}

/* //文字颜色// */
.administrator_profile-div p, label.administrator_profile-form-label,
.administrator_view_job-body p,
.employer_profile-body label,
.employer_profile-body p, label.employer_profile-form-label,
body.employer_write_job_description-div p,
label.employer_write_job_description-form-label,
.employer_deposit-body label,
.employer_view_posted_job_details-body p,
.employer_check_applicant_qualification-body p,
.freelancer_job-body label, .freelancer_job-body p,
.freelancer_profile-body label, .freelancer_profile-body p,
.freelancer_withdraw-body label,
.freelancer_view_resume-body label,
.freelancer_browse_jobs_details-body p,
.freelancer_browse_applied_jobs_details-body p {
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
}

/* //居中// */
.main-div, .administrator_profile-div,
.administrator_view_job-body-information,
.administrator_login-div, .employer_login-div, .freelancer_login-div,
.administrator_sign_up-div, .employer_sign_up-div, .freelancer_sign_up-div,
.employer_write_job_description-div,
.employer_payment_history-div, .employer_deposit-div,
.employer_applicants_list-div, .employer_check_applicant_qualification-div,
.employer_view_posted_job_details-div,
.freelancer_withdraw-div,
.freelancer_remuneration_history-div,
.freelancer_view_resume-div,
.freelancer_browse_jobs-div,
.freelancer_browse_jobs_details-div,
.freelancer_browse_applied_jobs_details-div {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

/* //按钮翻转// */
.administrator_profile-div button:hover,
.admin_payment_history-body button:hover,
.employer_job-body button:hover,
.employer_profile-body button:hover,
.employer_write_job_description-div button:hover,
.employer_payment_history-body button:hover,
.employer_deposit-body button:hover,
.employer_view_posted_job_details-body button:hover,
.employer_check_applicant_qualification-body button:hover,
.freelancer_job-body button:hover,
.freelancer_profile-body button:hover,
.freelancer_withdraw-body button:hover,
.freelancer_remuneration_history-body button:hover,
.freelancer_view_resume-body button:hover,
.freelancer_browse_jobs-body button:hover,
.freelancer_browse_jobs_details-body button:hover,
.freelancer_browse_applied_jobs_details-body button:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
}

body.main-body,
body.administrator_login-body, body.administrator_sign_up-body,
body.employer_login-body, body.employer_sign_up-body,
body.freelancer_login-body, body.freelancer_sign_up-body {
    background-size: cover;
    background: url('../images/main-background.jpg') no-repeat;
}

.main-div h1,
.administrator_login-div h1, .administrator_sign_up-div h1,
.employer_login-div h1, .employer_sign_up-div h1,
.freelancer_login-div h1, .freelancer_sign_up-div h1 {
    margin: 15rem 0rem 5rem 0rem;
    color: white;
    font: 700 3.5rem "Montserrat", sans-serif;
}

.administrator_login-form, .administrator_sign_up-form,
.employer_login-form, .employer_sign_up-form,
.freelancer_login-form, .freelancer_sign_up-form {
    border: 0.3rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    width: 18rem;
    height: 2rem;
    opacity: 0.8;
}

.main-div button,
.administrator_login-div button, .administrator_sign_up-div button,
.employer_login-div button, .employer_sign_up-div button,
.freelancer_login-div button, .freelancer_sign_up-div button {
    margin: 1rem 3rem 1rem 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.3rem solid #14bf98;
    border-radius: 25px;
    background-color: #14bf98;
    color: white;
    font: 700 1.25rem "Montserrat", sans-serif;
    width: 20rem;
}

.main-div button:hover,
.administrator_login-div button:hover, .administrator_sign_up-div button:hover,
.employer_login-div button:hover, .employer_sign_up-div button:hover,
.freelancer_login-div button:hover, .freelancer_sign_up-div button:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
}

.administrator_login-div form, .administrator_login-div p, .administrator_login-div a,
.administrator_sign_up-div form, .administrator_sign_up-div a,
.employer_login-div form, .employer_login-div p, .employer_login-div a,
.employer_sign_up-div form, .employer_sign_up-div a,
.freelancer_login-div form, .freelancer_login-div p, .freelancer_login-div a,
.freelancer_sign_up-div form, .freelancer_sign_up-div a {
    color: white;
    font: 700 1.5rem "Montserrat", sans-serif;
}

.employer_login-div p, .freelancer_login-div p, .administrator_login-div p {
    margin-top: 1rem;
}

table {
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: #14bf98;
    display: block;
    height: 700px;
    border-bottom: none;
    overflow-y: auto;
    table-layout: fixed;
}

tr {
    height: 4rem;
    width: 100%;
}

th {
    width: 0.5%;
    font: 700 1.25rem "Montserrat", sans-serif;
    border-top: none;
}

td {
    padding: 1rem 0;
    font: 700 1rem "Montserrat", sans-serif;
    border-width: 0.15rem;
    height: 100%;
    border-color: #14bf98;
    overflow: hidden;
}

button.administrator_profile-top-button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 4rem;
}


button.administrator_profile-bottom-button{
    margin-left: auto;
    margin-right: auto;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 6%;
    display: inline-block;
    min-width: 90px;
}

.administrator_profile-form, .employer_profile-form, .freelancer_profile-form,
.employer_write_job_description-form {
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    width: 15rem;
    height: 1.25rem;
    opacity: 0.8;
}

.administrator_profile-form:disabled,
.employer_profile-form:disabled,
.freelancer_profile-form:disabled,
body.employer_profile-body textarea:disabled {
    background-color: #dddddd;
}

.administrator_profile-div-left {
    width: 15%;
}

.administrator_profile-div-left input {
    width: 60%
}

.administrator_profile-div-middle {
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

.administrator_profile-div-right {
    width: 28%;
    margin-left: 2%;
}

body.administrator_view_job-body {
    margin-top: 2%;
    text-align: center;
}

div.administrator_view_job-body-information {
    margin-top: 2.5%;
    display: inline-block;
}

.administrator_view_job-body-information p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.administrator_view_job-body button {
    margin: 2.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 8%;
}

.admin_payment_history-body button {
    margin: 1rem auto 1rem auto;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 10%;
}

.admin_payment_history-body, .employer_payment_history-body, .freelancer_remuneration_history-body {
    margin-bottom: 3%;
}

.administrator_view_job-body button:hover,
.employer_applicants_list-body button:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: #14bf98;
}

::-webkit-scrollbar-track {
    background: white;
}


button.employer_profile-right-button-Application {
    margin-left: 0.5px;
    margin-right: 0.5px;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 10%;
    display: inline-block;
    min-width: 100px;
}


.employer_profile-div-right {
    text-align: center;
    width: 75%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

body.employer_profile-body textarea {
    width: 15rem;
    height: 10rem;
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    opacity: 0.8;
}

body.employer_write_job_description-body textarea {
    width: 20rem;
    height: 32.2rem;
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    opacity: 0.8;
}

.employer_write_job_description-body textarea {
    max-width: 80%;
}

.employer_write_job_description-left, .employer_write_job_description-right {
    float: left;
}

.employer_write_job_description-left {
    margin-left: 25%;
    margin-top: 2.5%;
    width: 20%;
}

.employer_write_job_description-right {
    margin-left: 10%;
    margin-top: 2.5%;
    width: 25%;
}

.employer_write_job_description-left input {
    width: 65%;
}

body.employer_write_job_description-body button,
body.employer_view_posted_job_details-body button {
    margin: 2.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 4rem;
}

.employer_payment_history-body button, .employer_deposit-body button {
    margin: 1rem auto 1rem auto;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 8rem;
}

.employer_payment_history-div {
    width: 35%;
}


.employer_payment_history-div table {
    margin-top: 2.5%;
}

.employer_deposit-form {
    margin: 1rem auto 1rem auto;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    width: 7.5rem;
    height: 1.25rem;
    opacity: 0.8;
}

div.employer_view_posted_job_details-div p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

body.employer_view_posted_job_details-body {
    margin-top: 2%;
    text-align: center;
}

div.employer_view_posted_job_details-div {
    margin-top: 2.5%;
    display: inline-block;
}


.employer_applicants_list-body button,
.employer_check_applicant_qualification-body button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 5rem;
    height: 2.2rem;
}

.employer_applicants_list-body table {
    margin-top: 2.5%;
}

.employer_applicants_list-div {
    width: 35%;
}


.employer_check_applicant_qualification-div-left,
.employer_check_applicant_qualification-div-middle,
.employer_check_applicant_qualification-div-right {
    float: left;
}


.employer_check_applicant_qualification-div-left {
    width: 33%;
}

.employer_check_applicant_qualification-div-middle {
    width: 33%;
}

.employer_check_applicant_qualification-div-right {
    width: 33%;
}

.employer_check_applicant_qualification-body h1 {
    margin-bottom: 5%;
}

.employer_check_applicant_qualification-block {
    margin-top: 10%;
}

.employer_check_applicant_qualification-block p {
    text-align: left;
    padding-left: 20%;
    margin-top: 2%;
}

.employer_check_applicant_qualification-select,
.employer_check_applicant_qualification-option {
    width: 7.5rem;
    height: 2.5rem;
    font: 700 1rem "Montserrat", sans-serif;
    color: white;
    background-color: #14bf98;
    text-align: center;
    border: none;
    margin-bottom: 5%;
}

.employer_check_applicant_qualification-body button {
    margin-top: 20%;
    width: 6rem;
}

/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */
/* EMPLOYER结束 */

/*button.freelancer_profile-top-button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 45%;
    min-width: 150px;
}*/

button.freelancer_profile-bottom-button {
    margin: 1rem 0.7rem 1rem 0.7rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 4rem;
}


/*.freelancer_profile-div-left {*/
/*    width: 30%;*/
/*    margin-left: 1%;*/
/*    float: left;*/
/*}*/

/*.freelancer_profile-div-left input {*/
/*    width: 42%;*/
/*}*/

/*.freelancer_profile-div-right {*/
/*    float: left;*/
/*    width: 60%;*/
/*    margin-left: 3%;*/
/*    margin-right: 3%;*/
/*}*/

/*button.freelancer_profile-right-button {*/
/*    margin: 1rem 0.7rem 1rem 0.7rem;*/
/*    border: 0.3rem solid #14bf98;*/
/*    background-color: #14bf98;*/
/*    color: white;*/
/*    font: 700 1rem "Montserrat", sans-serif;*/
/*    width: 12%;*/
/*    display: inline-block;*/
/*    min-width: 90px;*/
/*}*/

/*button.freelancer_profile-bottom-button-completeWork, button.freelancer_profile-top-button-browseJobs {*/
/*    margin: 1rem 0.7rem 1rem 0.7rem;*/
/*    border: 0.3rem solid #14bf98;*/
/*    background-color: #14bf98;*/
/*    color: white;*/
/*    font: 700 1rem "Montserrat", sans-serif;*/
/*    width: 55%;*/
/*}*/

button.freelancer_withdraw-button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 8rem;
}

.freelancer_withdraw-form {
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    width: 7.5rem;
    height: 1.25rem;
    opacity: 0.8;
}

.freelancer_remuneration_history-body table {
    margin-top: 2.5%;
}

.freelancer_remuneration_history-div {
    margin-top: 3%;
    width: 35%;
}

.freelancer_remuneration_history-body button {
    margin: 1rem auto 1rem auto;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 10%;
}

.freelancer_view_resume-body button {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 8rem;
}

.freelancer_view_resume-form-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.freelancer_view_resume-body h2 {
    margin: 2% 0;
    color: white;
    font: 700 28px "Montserrat", sans-serif;
}

.freelancer_view_resume-body input {
    width: 30%;
}

.freelancer_view_resume-body textarea {
    max-width: 45%;
}

.freelancer_view_resume-form {
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    width: 15rem;
    height: 1.25rem;
    opacity: 0.8;
}

.freelancer_view_resume-body textarea {
    width: 30rem;
    height: 10rem;
    margin: 1rem 0rem 1rem 0rem;
    border: 0.15rem solid #14bf98;
    background-color: white;
    color: #14bf98;
    font: 700 1rem "Montserrat", sans-serif;
    opacity: 0.8;
}

.freelancer_view_resume-body textarea:disabled,
.freelancer_view_resume-form:disabled {
    background-color: #dddddd;
}

.freelancer_browse_jobs-body table {
    margin-top: 2.5%;
}

.freelancer_browse_jobs-div {
    width: 60%;
}

.freelancer_browse_jobs-body button,
.freelancer_browse_jobs_details-body button,
.freelancer_browse_applied_jobs_details-body button {
    margin: 2.5rem 0.5rem 1rem 0.5rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 8rem;
}

div.freelancer_browse_jobs_details-div {
    margin-top: 2.5%;
    display: inline-block;
}

body.freelancer_browse_jobs_details-body {
    margin-top: 2%;
    text-align: center;
}

div.freelancer_browse_jobs_details-div p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

div.freelancer_browse_applied_jobs_details-div {
    margin-top: 2.5%;
    display: inline-block;
}

body.freelancer_browse_applied_jobs_details-body {
    margin-top: 2%;
    text-align: center;
}

div.freelancer_browse_applied_jobs_details-div p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.footerSetting {
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    position:fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

h1.main {
    font: 700 6rem 'Fredoka One', cursive;
}

.header {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    margin: 1.5% auto 3%;
}

p.systemTitle {
    font-size:calc(36px + 1.5vw);
    width: 100%;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

nav.userNav {
    position: absolute;
    top: 60;
    right: 0;
    width: 25%;
    text-align: left;
}

.userNav li {
    display: inline-block;
    font: 700 1rem "Montserrat", sans-serif;
    margin-left: 6%;
    margin-right: 6%;
}

.userNav button {
    background:transparent;
    color: white;
    border: 2px solid white;
    font: 700 1.5rem "Montserrat", sans-serif;
}

.userNav button:hover, .dropDownContent p:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
}


div.freelancer_job_detail {
    text-align: center;
    width: 80%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

h1#jobAppliedTitle, h1#searchMoreJobTitle, h1#freelancer_profile_title, h1#remunerationHistory,
.employer_profile-div-right h1, h1#createNewJobTitle, h1#employer_profile_title, h1#jobNeedToReview,
h1#admin_profile_title {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

button.freelancer_profile-top-button-browseJobs, button.employer_profile-top-button-postNewJob, button.employer_profile-top-button {
    margin: 1rem 0.7rem 1rem 0.7rem;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 15%;
}

button.freelancer_profile-right-button, button.employer_profile-right-button {
    margin-left: 0.5px;
    margin-right: 0.5px;
    border: 0.3rem solid #14bf98;
    background-color: #14bf98;
    color: white;
    font: 700 1rem "Montserrat", sans-serif;
    width: 6%;
    display: inline-block;
    min-width: 90px;
}

#appliedJobs, #createdJobs, #jobList {
    margin-top: 1%;
}

#searchAvailableJobs, #createNewJob {
    margin-bottom: 3%;
}

.freelancer_personal_information, .employer_personal_information, .administrator_personal_information {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#freelancer_profile_title, #employer_profile_title, #admin_profile_title {
    margin-bottom: 2%;
}

.accountBalance {
    font-size: 26px;
    text-align: center;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
}

.freelancer_remuneration_history-table {
    margin-top: 2%;
}

.freelancer_view_resume-div h1 {
    font-size: 34px;
}

.style {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #14bf98 inset;
    margin: 10px 10%;
}

.freelancer_withdraw-div form, .employer_deposit-div form {
    margin-top: 4%;
}

.employer_personal_information {
    margin-bottom: 3%;
}

.dropDown {
    display: inline-block;
}

.dropDownElement {
    cursor: pointer;
}

.dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropDownContent p {
    padding: 5px;
    border: 0.5px solid white;
}

.firstDropDownItem {
    margin-top: 3px;
}


.show {display:block;}