<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Review Job Description</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="administrator_view_job-body">
  <h1>Review Job Description</h1>
  <div class="administrator_view_job-body">
    <p>Job Name: 12313213232132321312</p>
    <p>Company: </p>
    <p>Experience: </p>
    <p>Location: </p>
    <p>Field: </p>
    <p>Salary: </p>
    <p>Contact: </p>
    <p>Number of People: </p>
    <p>Job Description: aaaaaaaaaaaaaaa</p>
  </div>
  <br>
  <button type="button" name="administrator_view_jobApprove" onclick="buttonJump('administrator_profile.jsp')">Approve</button>
  <button type="button" name="administrator_view_jobReject" onclick="buttonJump('administrator_profile.jsp')">Reject</button>
</body>
</html>
