<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Capstone Group A</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>
  <h1>Prepay</h1>
  <p>Are you sure to make payment for this job?</p>
  <button type="button" name="employer_prepayYes" onclick="buttonJump('employer_prepay_alert.html')">Yes</button>
  <button type="button" name="employer_prepayNo" onclick="buttonJump('employer_profile.html')">No</button>
</body>
</html>
