<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Capstone Group A</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>

  <!-- Title Employer Check Applicants-->
  <h1>Applicants</h1><p>1/3approved</p>
  <table border="1" cellspacing="0">
    <tr>
      <th>Applicant</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Lyu, Youyuan</td>
      <td>Reviewing resume</td>
      <td><button type="button" name="employer_applicants_listViewApplicant" onclick="buttonJump('employer_check_applicant_qualification.html')">View Applicant</button></td>
    </tr>
    <tr>
      <td>Huang, Xu</td>
      <td>Rejected</td>
      <td><button type="button" name="employer_applicants_listViewApplicant" onclick="buttonJump('employer_check_applicant_qualification.html')">View Applicant</button></td>
    </tr>
  </table>

  <!-- Button -->
  <button type="button" name="employer_payment_historyBack" onclick="buttonJump('employer_profile.html')">Back</button>

</body>
</html>
