<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Deposit</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="employer_deposit-body">
  <div class="employer_deposit-div">
  <h1>Deposit</h1>
  <form action="">
    <div>
      <label class="employer_deposit-form-label" for="amount">Amount</label>
    </div>
    <div>
      <input id="employerDeposit" class="employer_deposit-form" type="text" name="employerDeposit" value="" required>
    </div>
    <button class="employer_deposit-button" type="button" onclick="employerDepositAmount()">Deposit</button>
  </form>
  <button type="button" name="employer_depositBack" onclick="buttonJump('employer_profile.html')">Back</button>
</div>
</body>
</html>
