<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Payment History</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>

  <!-- Title Employer payment_history-->
  <h1>Payment History for Employer</h1>
  <table border="1" cellspacing="0">
    <tr>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>00000001</td>
      <td>Babysitter</td>
      <td>-5000</td>
      <td>2021.01.07</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>-10000</td>
      <td>2021.02.16</td>
    </tr>
  </table>

  <!-- Button -->
  <button type="button" name="employer_payment_historyBack" onclick="buttonJump('employer_profile.html')">Back</button>

</body>
</html>
