<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Employer Profile</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="employer_profile-body">
  <div class="employer_profile-div">
    <div class="employer_profile-div-left">
      <h1>Employer Profile</h1>
      <p>Account Balance: 10000 USD <button class="employer_profile-top-button" type="button" name="employer_profileDeposit" onclick="buttonJump('employer_deposit.html')">Deposit</button></p>
      <form action="">
        <div>
          <label class="employer_profile-form-label" for="name">Name</label>
        </div>
        <div>
          <input id="employerEditName" class="employer_profile-form" type="text" name="employerName" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="employer_profile-form-label" for="city">City</label>
        </div>
        <div>
          <input id="employerEditCity" class="employer_profile-form" type="text" name="employerCity" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="employer_profile-form-label" for="type">Type</label>
        </div>
        <div>
          <input id="employerEditType" class="employer_profile-form" type="text" name="employerType" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="employer_profile-form-label" for="phone">Phone</label>
        </div>
        <div>
          <input id="employerEditPhone" class="employer_profile-form" type="text" name="employerPhone" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="employer_profile-form-label" for="email">Email</label>
        </div>
        <div>
          <input id="employerEditEmail" class="employer_profile-form" type="text" name="employerEmail" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="employer_profile-form-label" for="description">Description</label>
        </div>
        <div>
          <input id="employerEditDescription" class="employer_profile-form" type="text" name="employerDescription" disabled="disabled" value="" required>
        </div>
      </form>
      <button class="employer_profile-top-button" type="button" name="employer_profileEdit" onclick="employerProfileEditEnable()">Edit</button>
      <button class="employer_profile-top-button" type="button" name="employer_profileSave" value="Save">Save</button>
    </div>
    <div class="employer_profile-div-right">
      <h1>Job Posted</h1>
      <button type="button" name="employer_profilePostNewJob" onclick="buttonJump('employer_write_job_description.html')">Post New Job</button>
      <button type="button" name="employer_profileReturn"         onclick="buttonJump('main.html')">Return to main page</button>
      <button type="button" name="employer_profilePaymentHistory" onclick="buttonJump('employer_payment_history.html')">Payment History</button>
      <table border="1" cellspacing="0">
        <tr>
          <th>Job ID</th>
          <th>Job Name</th>
          <th>Experience</th>
          <th>Location</th>
          <th>Salary</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>00000001</td>
          <td>Babysitter</td>
          <td>1 year experience</td>
          <td>DC</td>
          <td>5000</td>
          <td>Admin Reviewing</td>
          <td>
            <button type="button" name="employer_profileTableApplicants" onclick="buttonJump('employer_applicants_list.html?JobID=00000001')">Applicants</button>
            <button type="button" name="employer_profileTableDetails"    onclick="buttonJump('employer_view_posted_job_details.html?JobID=00000001')">Details</button>
            <button type="button" name="employer_profileTablePrepay"     onclick="employerPrepay('00000001')">Prepay</button>
            <button type="button" name="employer_profileTableDelete"     onclick="employerProfileDelete('00000001')">Delete</button>
            <button type="button" name="employer_profileTableConfirm"    onclick="employerConfirmWork('00000001')">Confirm</button>
          </td>
        </tr>
        <tr>
          <td>00000001</td>
          <td>Babysitter</td>
          <td>1 year experience</td>
          <td>DC</td>
          <td>5000</td>
          <td>Admin Reviewing</td>
          <td>
            <button type="button" name="employer_profileTableApplicants" onclick="buttonJump('employer_applicants_list.html?JobID=00000001')">Applicants</button>
            <button type="button" name="employer_profileTableDetails"    onclick="buttonJump('employer_view_posted_job_details.html?JobID=00000001')">Details</button>
            <button type="button" name="employer_profileTablePrepay"     onclick="employerPrepay('00000001')">Prepay</button>
            <button type="button" name="employer_profileTableDelete"     onclick="employerProfileDelete('00000001')">Delete</button>
            <button type="button" name="employer_profileTableConfirm"    onclick="employerConfirmWork('00000001')">Confirm</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
