<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>View Job Details</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="employer_view_posted_job_details-body">
  <h1>View Job Details</h1>
  <div class="employer_view_posted_job_details-body">
    <p>Job Name: </p>
    <p>Company: </p>
    <p>Experience: </p>
    <p>Location: </p>
    <p>Field: </p>
    <p>Salary: </p>
    <p>Contact: </p>
    <p>Number of People: </p>
    <p>Job Description: </p>
  </div>
  <br>
  <button type="button" name="employer_view_posted_job_detailsBack" onclick="buttonJump('employer_profile.html')">Back</button>
</body>
</html>
