<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Deposit</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>
  <h1>Deposit</h1>
  <form action="">
    Input the amount of deposit: <input id="employerDeposit" type="text" value=""><br>
    <input type="button" value="Deposit" onclick="employerDepositAmount()">
  </form>

  <button type="button" name="employer_depositBack" onclick="buttonJump('employer_profile.html')">Back</button>
</body>
</html>
