<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Employer Login</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="employer_login-body">
  <div class="employer_login-div">
    <!-- Title -->
    <h1 >Employer Login</h1>
    <!-- Input -->
    <div>
    <form action="employer_profile.html" method="">
      <div>
        <label class="employer_login-form-label" for="account">Account</label>
        </div>
        <div>
        <input type="text" class="employer_login-form" id="account" name="account" required>
      </div>
      <div>
        <label class="employer_login-form-label" for="account">Password</label>
      </div>
      <div>
        <input type= "text" class="employer_login-form" id="password" name="password" required>
      </div>
      <div class="employer_login-form-submit">
        <button type="submit" class="form-control-submit-button">Login</button>
      </div>
    </form>
    <button type="button" name="employer_LoginBack" onclick="buttonJump('main.html')">Back</button>
    <!-- Button -->
    <p>Don't have an account? <a href="employer_sign_up.html">Sign Up!</a></p>
  </div>
  </div>
</body>
</html>
