<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Capstone Group A</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>

  <!-- Title -->
  <h1 >Employer Login</h1>

  <!-- Input -->
  <form action="employer_profile.html" method="">
    Account: <input type="text" name="employer_Account"><br>
    Password: <input type="text" name="employer_Password"><br>
    <input type="submit" value="Login">
  </form>

  <!-- Button -->
  <p>Don't have an account? <a href="employer_sign_up.html">Sign Up!</a></p>

  <button type="button" name="employer_LoginBack" onclick="buttonJump('main.html')">Back</button>

</body>
</html>
