<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Check Applicant Qualification</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="employer_check_applicant_qualification-body">
  <div class="employer_check_applicant_qualification-div">
  <div class="employer_check_applicant_qualification-div-left">
    <div class="employer_check_applicant_qualification-block">
      <h1>Personal Information</h1>
      <p>Name: </p>
      <p>Age: </p>
      <p>Location: </p>
      <p>Phone: </p>
      <p>Email: </p>
    </div>
    <div class="employer_check_applicant_qualification-block">
      <h1>Education Experience</h1>
      <p>From: to:</p>
      <p>School: </p>
      <p>Degree: </p>
      <p>Major: </p>
      <p>Description: </p>
    </div>
  </div>
  <div class="employer_check_applicant_qualification-div-middle">
    <div class="employer_check_applicant_qualification-block">
      <h1>Work Experience</h1>
      <p>From: to: </p>
      <p>Company: </p>
      <p>Department: </p>
      <p>Position: </p>
      <p>Description: </p>
    </div>
    <div class="employer_check_applicant_qualification-block">
      <h1>Ohters</h1>
      <p>Languages: </p>
      <p>Skills: </p>
      <p>Self Reviews:</p>
    </div>
  </div>
  <div class="employer_check_applicant_qualification-div-right">
    <div class="employer_check_applicant_qualification-block">
      <h1>Resume Status</h1>
      <select class="employer_check_applicant_qualification-select">
        <option class="employer_check_applicant_qualification-option" value ="reviewing">Reviewing</option>
        <option class="employer_check_applicant_qualification-option" value ="rejected">Rejected</option>
        <option class="employer_check_applicant_qualification-option" value="approved">Approved</option>
      </select><br>
      <h1>Interview Status</h1>
      <select class="employer_check_applicant_qualification-select">
        <option class="employer_check_applicant_qualification-option" value ="inviting">Inviting</option>
        <option class="employer_check_applicant_qualification-option" value ="rejected">Rejected</option>
        <option class="employer_check_applicant_qualification-option" value="approved">Approved</option>
        <option class="employer_check_applicant_qualification-option" value="reviewing">Reviewing</option>
      </select><br>
      <button type="button" name="employer_check_applicant_qualificationUpdate" onclick="buttonJump('employer_applicants_list.html')">Update</button>
      </div>
    </div>
  </div>
</body>
</html>
