<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Write Job Description</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>
  <h1>Write Job Description</h1>

  <form action="employer_profile.html">
    Job Name:          <input type="text" name="jobName"           value=""><br>
    Company:           <input type="text" name="jobCompany"        value=""><br>
    Experience:        <input type="text" name="jobExperience"     value=""><br>
    Location:          <input type="text" name="jobLocation"       value=""><br>
    Field:             <input type="text" name="jobField"          value=""><br>
    Salary:            <input type="text" name="jobSalary"         value=""><br>
    Contact:           <input type="text" name="jobContact"        value=""><br>
    Due Date:          <input type="text" name="jobDueDate"        value=""><br>
    Number of People:  <input type="text" name="jobNumberOfPeople" value=""><br>
    Description:       <input type="text" name="jobDescription"    value=""><br>
    <input type="submit" name="employer_write_job_descriptionPost" value="Post"><br>
  </form>

</body>
</html>
