<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Remuneration History</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="../../static/js/functions.js"></script>
</head>
<body class="freelancer_remuneration_history-body">
  <div class="freelancer_remuneration_history-div">
  <h1>Remuneration History for Freelancer</h1>
  <div class="freelancer_remuneration_history-table">
  <table border="0" cellspacing="0" frame=below rules=rows>
    <tr>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>00000001</td>
      <td>Babysitter</td>
      <td>+5000</td>
      <td>2021.01.07</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
    <tr>
      <td>00000002</td>
      <td>Piano Teacher</td>
      <td>+10000</td>
      <td>2021.02.16</td>
    </tr>
  </table>
  </div>
  <button type="button" name="freelancer_remuneration_historyBack" onclick="buttonJump('freelancer_profile.html')">Back</button>
</body>
</html>
