<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>My Resume</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="../../static/js/functions.js"></script>
</head>
<body class="freelancer_view_resume-body">
  <div class="freelancer_view_resume-div">
    <h1>My Resume</h1>
    <form action="">
      <div class="freelancer_view_resume-form-content">
        <h1>Education Experience</h1>
        <div>
          <label class="freelancer_view_resume-form-label" for="from">From</label>
        </div>
        <div>
          <input id="freelancerEditEEFrom" class="freelancer_view_resume-form" type="text" name="freelancerFrom" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="to">To</label>
        </div>
        <div>
          <input id="freelancerEditEETo" class="freelancer_view_resume-form" type="text" name="freelancerTo" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="school">School</label>
        </div>
        <div>
          <input id="freelancerEditEESchool" class="freelancer_view_resume-form" type="text" name="freelancerSchool" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="degree">Degree</label>
        </div>
        <div>
          <input id="freelancerEditEEDegree" class="freelancer_view_resume-form" type="text" name="freelancerDegree" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="major">Major</label>
        </div>
        <div>
          <input id="freelancerEditEEMajor" class="freelancer_view_resume-form" type="text" name="freelancerMajor" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="description">Description</label>
        </div>
        <div>
          <textarea id="freelancerEditEEDescription" disabled="disabled" required></textarea>
        </div>
        <h1>Work Experience</h1>
        <div>
          <label class="freelancer_view_resume-form-label" for="from">From</label>
        </div>
        <div>
          <input id="freelancerEditWEFrom" class="freelancer_view_resume-form" type="text" name="freelancerFrom" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="to">To</label>
        </div>
        <div>
          <input id="freelancerEditWETo" class="freelancer_view_resume-form" type="text" name="freelancerTo" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="company">Company</label>
        </div>
        <div>
          <input id="freelancerEditWESchool" class="freelancer_view_resume-form" type="text" name="freelancerSchool" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="department">Department</label>
        </div>
        <div>
          <input id="freelancerEditWEDegree" class="freelancer_view_resume-form" type="text" name="freelancerDegree" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="position">Position</label>
        </div>
        <div>
          <input id="freelancerEditWEMajor" class="freelancer_view_resume-form" type="text" name="freelancerMajor" disabled="disabled" value="" required>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="description">Description</label>
        </div>
        <div>
          <textarea id="freelancerEditWEDescription" disabled="disabled" required></textarea>
        </div>
        <h1>Languages & Skills</h1>
        <div>
          <label class="freelancer_view_resume-form-label" for="languages">Languages</label>
        </div>
        <div>
          <textarea id="freelancerEditLanguages" disabled="disabled" required></textarea>
        </div>
        <div>
          <label class="freelancer_view_resume-form-label" for="skills">Skills</label>
        </div>
        <div>
          <textarea id="freelancerEditSkills" disabled="disabled" required></textarea>
        </div>
        <h1>Self Reviews</h1>
        <div>
          <textarea id="freelancerEditSelfReviews" disabled="disabled" required></textarea>
        </div>
      </div>
        <button type="button" name="freelancer_view_resumeEdit"   onclick="freelancerViewResumeEditEnable()">Edit</button>
        <button type="button" name="freelancer_view_resumeSave"   onclick="">Save</button>
        <button type="button" name="freelancer_view_resumeBack" onclick="buttonJump('freelancer_profile.html')">Back</button>
      </form>
    </div>
</body>
</html>
