<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Browse Jobs</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="../../static/js/functions.js"></script>
</head>
<body class="freelancer_browse_jobs-body">
  <div class="freelancer_browse_jobs-div">
    <h1>Browse Jobs</h1>
    <div class="freelancer_browse_jobs-table">
      <table border="0" cellspacing="0" frame=below rules=rows>
        <tr>
          <th>Job ID</th>
          <th>Employer ID</th>
          <th>Job Name</th>
          <th>Experience</th>
          <th>Location</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>00000001</td>
          <td>00000001</td>
          <td>Babysitter</td>
          <td>1 year experience</td>
          <td>DC</td>
          <td>5000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000001&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
        <tr>
          <td>00000002</td>
          <td>00000001</td>
          <td>Piano Teacher</td>
          <td>5 year experience</td>
          <td>MI</td>
          <td>25000</td>
          <td><button type="button" name="freelancer_browse_jobsDetails" onclick="buttonJump('freelancer_browse_jobs_details.html?JobID=00000002&EmployerID=00000001')">Details</button></td>
        </tr>
      </table>
    </div>
    <button type="button" name="freelancer_browse_jobsBack" onclick="buttonJump('freelancer_profile.html')">Back</button>
  </div>
</body>
</html>
