<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Browse Job Details</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>
  <!-- Title freelancer Browse Job Details-->
  <h1>Browse Job Details</h1>
  <p>Job Name: </p>
  <p>Company: </p>
  <p>Experience: </p>
  <p>Location: </p>
  <p>Field: </p>
  <p>Salary: </p>
  <p>Contact: </p>
  <p>Number of People: </p>
  <p>Job Description: </p>

  <!-- Approve & Reject -->
  <button type="button" name="freelancer_browse_jobs_detailsApply" onclick="freelancerApplyJob('0000001')">Apply</button>
  <button type="button" name="freelancer_browse_jobs_detailsBack"  onclick="buttonJump('freelancer_browse_jobs.html')">Back</button>

</body>
</html>
