<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Browse Applied Job Details</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="../../static/js/functions.js"></script>
</head>
<body class="freelancer_browse_applied_jobs_details-body">
  <div class="freelancer_browse_applied_jobs_details-div">
    <h1>Browse Applied Job Details</h1>
    <p>Job Name: </p>
    <p>Company: </p>
    <p>Experience: </p>
    <p>Location: </p>
    <p>Field: </p>
    <p>Salary: </p>
    <p>Contact: </p>
    <p>Number of People: </p>
    <p>Job Description: </p>
    <button type="button" name="freelancer_browse_applied_jobs_detailsBack"  onclick="buttonJump('freelancer_profile.html')">Back</button>
  </div>
</body>
</html>
