<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>My Resume</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>
  <!-- Big Title Freelancer Check Applicant Qualification-->

  <form action="">
    <h1>Education Experience</h1>
    From:        <input id="freelancerEditEEFrom"        type="text" name="freelancerFrom"        disabled="disabled" value="">
    to:          <input id="freelancerEditEETo"          type="text" name="freelancerTo"          disabled="disabled" value=""><br>
    School:      <input id="freelancerEditEESchool"      type="text" name="freelancerSchool"      disabled="disabled" value=""><br>
    Degree:      <input id="freelancerEditEEDegree"      type="text" name="freelancerDegree"      disabled="disabled" value=""><br>
    Major:       <input id="freelancerEditEEMajor"       type="text" name="freelancerMajor"       disabled="disabled" value=""><br>
    Description: <input id="freelancerEditEEDescription" type="text" name="freelancerDescription" disabled="disabled" value=""><br>
    <h1>Work Experience</h1>
    From:        <input id="freelancerEditWEFrom"        type="text" name="freelancerFrom"        disabled="disabled" value="">
    to:          <input id="freelancerEditWETo"          type="text" name="freelancerTo"          disabled="disabled" value=""><br>
    Company:     <input id="freelancerEditWESchool"      type="text" name="freelancerSchool"      disabled="disabled" value=""><br>
    Department:  <input id="freelancerEditWEDegree"      type="text" name="freelancerDegree"      disabled="disabled" value=""><br>
    Position:    <input id="freelancerEditWEMajor"       type="text" name="freelancerMajor"       disabled="disabled" value=""><br>
    Description: <input id="freelancerEditWEDescription" type="text" name="freelancerDescription" disabled="disabled" value=""><br>
    <h1>Languages & Skills</h1>
    Languages:   <input id="freelancerEditLanguages"     type="text" name="freelancerLanguages"   disabled="disabled" value=""><br>
    Skills:      <input id="freelancerEditSkills"        type="text" name="freelancerSkills"      disabled="disabled" value=""><br>
    <h1>Self Reviews</h1>
    <input id="freelancerEditSelfReviews" type="text" name="freelancerSelfReviews" disabled="disabled" value=""><br>
    <button type="button" name="freelancer_view_resumeEdit"   onclick="freelancerViewResumeEditEnable()">Edit</button>
    <input  type="submit" name="freelancer_view_resumeSave"   value="Save"><br>
    <button type="button" name="freelancer_view_resumeBack" onclick="buttonJump('freelancer_profile.html')">Back</button>
  </form>



</body>
</html>
