<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Capstone Group A</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body>

  <!-- Title -->
  <h1>Freelancer Sign Up</h1>
  <!-- Input -->
  <form action="" method="">
    Account: <input type="text" name="freelancerAccount"><br>
    Password: <input type="text" name="freelancerPassword"><br>
    <input type="button" value="Create Account" onclick="freelancerSignUp()">
  </form>

  <!-- Button -->
  <button type="button" name="freelancerSignUpBack" onclick="buttonJump('freelancer_login.html')">Back</button>


</body>
</html>
