<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Withdraw</title>
   <link rel="stylesheet" href="../../static/css/reset.css" />
   <link rel="stylesheet" href="../../static/css/global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="freelancer_withdraw-body">
  <div class="freelancer_withdraw-div">
  <h1>Withdraw</h1>
  <form action="">
    <div>
      <label class="freelancer_withdraw-form-label" for="amount">Amount</label>
    </div>
    <div>
      <input id="freelancerWithdraw" class="freelancer_withdraw-form" type="text" name="freelancerWithdraw" value="" required>
    </div>
    <button class="freelancer_withdraw-button" type="button" onclick="freelancerWithdrawAmount()">Withdraw</button>
  </form>
  <button class="freelancer_withdraw-button" type="button" name="freelancer_withdrawBack" onclick="buttonJump('freelancer_profile.html')">Back</button>
</body>
</html>
