<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Freelancer Sign Up</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="freelancer_sign_up-body">
  <div class="freelancer_sign_up-div">
    <!-- Title -->
    <h1 >Freelancer Sign Up</h1>
    <!-- Input -->
    <div>
    <form action="freelancer_profile.html" method="">
      <div>
        <label class="freelancer_sign_up-form-label" for="account">Account</label>
        </div>
        <div>
        <input type="text" class="freelancer_sign_up-form" id="account" name="freelancerAccount" required>
      </div>
      <div>
        <label class="freelancer_sign_up-form-label" for="password">Password</label>
      </div>
      <div>
        <input type= "text" class="freelancer_sign_up-form" id="password" name="freelancerPassword" required>
      </div>
      <div class="freelancer_sign_up-form-submit">
        <button type="submit" class="form-control-submit-button">Create Account</button>
      </div>
    </form>
    <button type="button" name="freelancerSignUpBack" onclick="buttonJump('freelancer_login.html')">Back</button>
  </div>
  </div>
</body>
</html>
