.main-div {
  height: 100%;
  width: 100%;
	text-align: center;
}

body {
	background-size: cover;
  background:url('images/background-transparent.jpg') no-repeat;
}

body.main {
	background-size: cover;
  background:url('images/main-background.jpg') no-repeat;
}

.main-div h1 {
  padding-top: 10%;
  padding-bottom: 3%;
  color: white;
  font: 700 3.5rem/3rem "Montserrat", sans-serif;
}

.main-div button {
	margin: 1.25rem 3rem 0.5rem 3rem;
  display: inline-block;
	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #14bf98;
	border-radius: 0.25rem;
	background-color: #14bf98;
	color: white;
	font: 700 1rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
  width: 20rem;
}

.main-div button:hover {
	background-color: transparent;
	color: white;
	text-decoration: none;
}
