.main-div, .administrator_profile-div,
.administrator_login-div, .employer_login-div, .freelancer_login-div,
.administrator_sign_up-div, .employer_sign_up-div, .freelancer_sign_up-div {
  height: 100%;
  width: 100%;
	text-align: center;
}

body.main-body,
body.administrator_login-body, body.administrator_sign_up-body,
body.employer_login-body, body.employer_sign_up-body,
body.freelancer_login-body, body.freelancer_sign_up-body {
	background-size: cover;
  background: url('images/main-background.jpg') no-repeat;
}

/* // 背 景 图 // */
body.administrator_profile-body, body.administrator_view_job-body {
  background-size: cover;
  background: url('images/background-transparent.jpg') no-repeat;
  width: 1900px;
}

.main-div h1,
.administrator_login-div h1, .administrator_sign_up-div h1,
.employer_login-div h1, .employer_sign_up-div h1,
.freelancer_login-div h1, .freelancer_sign_up-div h1 {
  margin: 15rem 0rem 5rem 0rem;
  color: white;
  font: 700 3.5rem "Montserrat", sans-serif;
}

.administrator_login-form, .administrator_sign_up-form,
.employer_login-form, .employer_sign_up-form,
.freelancer_login-form, .freelancer_sign_up-form {
  border: 0.3rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 18rem;
  height: 2rem;
}

.main-div button,
.administrator_login-div button, .administrator_sign_up-div button,
.employer_login-div button, .employer_sign_up-div button,
.freelancer_login-div button, .freelancer_sign_up-div button {
	margin: 1rem 3rem 1rem 3rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	border: 0.3rem solid #14bf98;
	background-color: #14bf98;
	color: white;
	font: 700 1.25rem "Montserrat", sans-serif;
  width: 20rem;
}

.main-div button:hover,
.administrator_login-div button:hover, .administrator_sign_up-div button:hover,
.employer_login-div button:hover, .employer_sign_up-div button:hover,
.freelancer_login-div button:hover, .freelancer_sign_up-div button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

.administrator_login-div form, .administrator_login-div p, .administrator_login-div a,
.administrator_sign_up-div form, .administrator_sign_up-div a,
.employer_login-div form, .employer_login-div p, .employer_login-div a,
.employer_sign_up-div form, .employer_sign_up-div a,
.freelancer_login-div form, .freelancer_login-div p, .freelancer_login-div a,
.freelancer_sign_up-div form, .freelancer_sign_up-div a {
  color: white;
  font: 700 1.5rem "Montserrat", sans-serif;
}

.employer_login-div p, .freelancer_login-div p, .administrator_login-div p {
  margin-top: 1rem;
}

table {
  color: white;
  margin: 0 auto;
  border-color: #14bf98;
  display: block;
  height: 700px;
  border-bottom: none;
  overflow-y: scroll;
}


th {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font: 700 1.25rem "Montserrat", sans-serif;
  border-top: none;
}

td {
  padding: 1rem 0.5rem 1rem 0.5rem;
  font: 700 1rem "Montserrat", sans-serif;
  border-width: 0.15rem;
  height: 3rem;
  border-color: #14bf98;
}

.administrator_profile-div h1, .administrator_view_job-body h1 {
  margin: 1rem 0rem 1rem 0rem;
  color: white;
  font: 700 2rem "Montserrat", sans-serif;
  text-decoration: underline;
}

/* //文字颜色// */
.administrator_profile-div p, label.administrator_profile-form-label,
.administrator_view_job-body p {
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  padding-bottom: 1rem;
}

button.administrator_profile-top-button {
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

button.administrator_profile-bottom-button {
	border: 0.3rem solid #14bf98;
	background-color: #14bf98;
	color: white;
	font: 700 1rem "Montserrat", sans-serif;
  width: 4rem;
}

.administrator_profile-div button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

.administrator_profile-form {
  margin: 1rem 0rem 1rem 0rem;
  border: 0.15rem solid #14bf98;
	background-color: white;
	color: #14bf98;
	font: 700 1rem "Montserrat", sans-serif;
  width: 15rem;
  height: 1.25rem;
}

.administrator_profile-form:disabled {
  background-color: #dddddd;
}

.administrator_profile-div-left, .administrator_profile-div-middle, .administrator_profile-div-right {
  padding: 0rem 3rem 0rem 0rem;
  float:left;
}

.administrator_profile-div-left {
  width: 25rem;
}

.administrator_profile-div-middle {
  width: 55rem;
}

.administrator_profile-div-right {
  width: 27rem;
}

body.administrator_view_job-body{
  text-align: center;
}

div.administrator_view_job-body {
  display: inline-block;
  text-align: left;
}

.administrator_view_job-body button{
  margin: 1rem 0.5rem 1rem 0.5rem;
  border: 0.3rem solid #14bf98;
  background-color: #14bf98;
  color: white;
  font: 700 1rem "Montserrat", sans-serif;
  width: 8rem;
  height: 2.5rem;
}

.administrator_view_job-body button:hover {
	background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}

::-webkit-scrollbar {
  width : 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #14bf98;
}
::-webkit-scrollbar-track {
  background   : white;
}
