<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Job Search System</title>
   <link rel="stylesheet" href="reset.css" />
   <link rel="stylesheet" href="global.css" />
   <script type="text/javascript" src="functions.js"></script>
</head>
<body class="main-body">
  <!-- Title -->
  <div class="main-div">
    <h1 class="main">Job Search System</h1>
    <!-- Buttons -->
    <div class="btn-top">
      <button type="button" name="forFreelancer" onclick="buttonJump('freelancer_login.html')">For Freelancer</button>
    </div>
    <div class="btn-mid">
      <button type="button" name="forEmployer" onclick="buttonJump('employer_login.html')">For Employer</button>
    </div>
    <div class="btn-bot">
      <button type="button" name="forAdministrator" onclick="buttonJump('administrator_login.html')">For Administrator</button>
      <!-- <button type="button" name="forAdministrator" onclick="buttonJump('http://localhost:8080/page/admin/login')">For Administrator</button> -->
  </div>
  </div>
</body>
</html>
